django
python-dotenv
binance
python-binance
pandas
plotly
backtrader
djangorestframework
kiteconnect
psycopg2-binary
redis
django-redis
channels
channels-redis
daphne
websockets
whitenoise
kafka-python