Django>=6.0,<6.1
python-dotenv
binance
python-binance
pandas
plotly
backtrader
djangorestframework
djangorestframework-simplejwt
kiteconnect
psycopg2-binary
redis
django-redis
channels
channels-redis
daphne
websockets
whitenoise
kafka-python